@charset "UTF-8";
/*
 Paleta de cores:
 VErde:#49a09d
 Lilas:#5f2c82
*/
 *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body,html{
    height: 100vh;
    width: 100vw;
    background-color:#5f2c82 ;
}
section#login{
    background-color: #49a09d;
    position: absolute;
    width: 290px;
    height: 500px;
   top: 50%;
   left: 50%;
   border-radius: 15px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.803);
   transform: translate(-50%,-50%);
   overflow: hidden;
   transition: width 0.8s, heigth 0.8s;
   transition-timing-function: ease;
}
section#login > div#imagem {
     background:#5f2c82 url(../imagens/pexels-lawlesscapture-13737660.jpg) no-repeat ;
     height: 220px;
     background-size: cover;
     background-position:left bottom;
}
section#login > div#form{
    padding: 12px;
    margin: 5px;
   
}
div#form > h1{
    font-size: 1em;
}
div#form > p {
     font-size: 0.8em;
}
